#page-machine {

  .console-window-wrapper {
    position: absolute;
    box-sizing: border-box;
    
    .console-window {
      position: absolute;
      box-sizing: border-box;
      padding: 35px 35px 15px 35px;
      margin-bottom: 50px;
      border-radius: 4px;
      background-color: $cream-color;
      @include transition(margin-left, 0.5s, ease-in, 0s);

      .focus-indicator {
        position: absolute;
        width: 8px;
        height: 8px;
        right: 16px;
        top: 16px;
        border-radius: 4px;
        background-color: $active-pink;

        @include transition(background, 0.2s, ease-in, 0s);
      }

      &.focused .focus-indicator {
        background-color: $inactive-grey;
      }

      .canvas-wrapper {
        position: relative;
        box-sizing: border-box;
        background-color: black;
        border-radius: 4px;
        overflow: hidden;
        min-width: 640px;
        min-height: 480px;
        
        .overlay {
          position: absolute;
          box-sizing: border-box;
          border-radius: 4px;
          width: 100%;
          height: 100%;
          font-size: 0.95em;
          color: $blue-text;
          visibility: hidden;
          opacity: 0;

          @include transition(opacity, 0.3s, ease-in, 0s);
          
          .state {
            top: 50%;
            position: relative;
            width: 100%;
            padding: 10px;
            max-width: 500px;
            margin: 0 auto;
            margin-top: -60px;

            .symbol {
              border-radius: 5px;
              position: relative;
              height: 70px;
              width: 70px;
              padding: 0px;
              margin: 0 auto;
              cursor: pointer;

              .icon {
                text-align: center;
                position: relative;
                color: white;
                line-height: 70px;
                font-size: 25px;

                &.fa-play {
                  padding-left: 4px;
                }
              }
            }

            .description {
              position: relative;
              margin-top: 30px;
            }
          }

          .overlay-bg {
            box-sizing: border-box;
            border-radius: 4px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.95;
            background-color: $dark-blue-bg;
          }
        }

        canvas {
          margin-bottom: 0;
          @extend .cursor-hidden;
        }
      }

      &.paused {
        .canvas-wrapper .overlay {
          visibility: visible;
          opacity: 1;
        }
      }

      .vm-actions {
        width: 100%;
        padding-top: 13px;
        text-align: center;
        position: relative;

        .iso {
          float: left;
          width: auto;

          .distributions {
            background-color: transparent;
            color: $bright-violet-color;
            padding: 8px 30px;
            margin-right: 10px;
            border:  1px solid $muted-violet-color !important;
            border-radius: 4px;
            cursor: pointer;
            @include transition(background-color, 0.2s, ease-in, 0s);

            &:focus, &:hover {
              background-color: darken($cream-color, 10%);
              @include transition(background-color, 0.2s, ease-in, 0s);
            }
          }
        }

        .rocket-menu {
          position: absolute;
          top: 20px;
          left: 50%;
          margin-left: -12px;
        }

        .restart {
          float: right;

          .ctrlaltdel, .hardreset{
            margin-left: 20px;
            padding: 8px 30px;
            color: $bright-violet-color;
            border:  1px solid $muted-violet-color !important;
            text-align: left;
            margin-top: 0px;
            i {
              margin-right: 10px;
            }
            &:active {
              background-color: darken($cream-color, 23%);
            }
          }
        }
      }

      p.browser-info, p.status {
        position: relative;
        top: -320px;
        width: 100%;
        padding-left: 150px;
        padding-right: 150px;
        float: left;
        text-align: center;
        margin: 0 auto;
      }
    }
  }
}
