.ajaxloader {
  position: relative;
  display: inline-block;
  margin-right: 10%;
  border-radius: 50%;
}

.ajaxloader-circle {
  position: absolute;
  display: block;
  -webkit-animation:spin 0.77s ease infinite;
  -moz-animation:spin 0.77s ease infinite;
  animation:spin 0.77s ease infinite;
}

.ajaxloader-circle path {
  fill: #9e8697;
}

.ajaxloader-circle-1 {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.ajaxloader-circle-1 path {
  fill: #6e5667;
}

.ajaxloader-circle-2 {
  -webkit-animation-delay: 0.15s;
  -moz-animation-delay: 0.15s;
  animation-delay: 0.15s;
  opacity: 0.4;
}

.ajaxloader-circle-3 {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
  opacity: 0.3;
}

.ajaxloader-circle-4 {
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  animation-delay: 0.25s;
  opacity: 0.2;
}

@-moz-keyframes spin { 
  0% { -moz-transform: rotate(0deg); } 
  95% { -moz-transform: rotate(360deg); }
  100% { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin { 
  0% { -webkit-transform: rotate(0deg); } 
  95% { -webkit-transform: rotate(360deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin { 
  0% { transform: rotate(0deg); } 
  95% { transform: rotate(360deg); }
  100% { transform: rotate(360deg); }
}