.ajaxloader(style='width: {{size}}px; height: {{size}}px;')
  svg.ajaxloader-circle.ajaxloader-circle-4(version='1.1', x='0px', y='0px', width='50%', height='50%', viewBox='0 0 128 128', enable-background='new 0 0 128 128', xml:space='preserve')
    path(fill='#ffffff', d='M32,0C14.3256836,0,0,14.3256836,0,32c0.4467773,17.2856445,14.6069336,32,32,32c17.3925781,0,31.5488281-14.7143555,32-32C64,14.3256836,49.6738281,0,32,0z')
  svg.ajaxloader-circle.ajaxloader-circle-3(version='1.1', x='0px', y='0px', width='60%', height='60%', viewBox='0 0 128 128', enable-background='new 0 0 128 128', xml:space='preserve')
    path(fill='#ffffff', d='M32,0C14.3256836,0,0,14.3256836,0,32c0.4467773,17.2856445,14.6069336,32,32,32c17.3925781,0,31.5488281-14.7143555,32-32C64,14.3256836,49.6738281,0,32,0z')
  svg.ajaxloader-circle.ajaxloader-circle-2(version='1.1', x='0px', y='0px', width='90%', height='90%', viewBox='0 0 128 128', enable-background='new 0 0 128 128', xml:space='preserve')
    path(fill='#ffffff', d='M32,0C14.3256836,0,0,14.3256836,0,32c0.4467773,17.2856445,14.6069336,32,32,32c17.3925781,0,31.5488281-14.7143555,32-32C64,14.3256836,49.6738281,0,32,0z')
  svg.ajaxloader-circle.ajaxloader-circle-1(version='1.1', x='0px', y='0px', width='100%', height='100%', viewBox='0 0 128 128', enable-background='new 0 0 128 128', xml:space='preserve')
    path(fill='#ffffff', d='M32,0C14.3256836,0,0,14.3256836,0,32c0.4467773,17.2856445,14.6069336,32,32,32c17.3925781,0,31.5488281-14.7143555,32-32C64,14.3256836,49.6738281,0,32,0z')